

<br>
<main role="main" class="inner cover">
<div class='container' style='margin-top: 0vh; margin-right: 5vw; width: 25vw'>
  <h1 class='display-4', style="font-family: 'Montserrat', sans-serif">Cocktail</h1>
  <p class='lead my-3', style="font-family: 'Montserrat', sans-serif"> Select from a list of cocktail options </p>
  <p class='lead mb-0', style="font-family: 'Montserrat', sans-serif"> Head there now... </p>
</div>
</main>
