

    <div class="inner">
      <div class="container">
      <h1 class="masthead-brand">Cocktails</h1>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/cocktails">Cocktails</a>
        <a class="nav-link" id='new' href='/cocktails/new'>New</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
      </div>
    </div>
  </header>

